<!DOCTYPE html>
<html>
    <head>
        <title>My RVN Plan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ url_for('static',filename='styles/stylesheet.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/lines.css') }}" rel="stylesheet">
        {{header}}
    </head>
    <body>
        {{time}}<br>
        <div class="container">
        {% for n in stations %}
        <table border="1">
            <tr><th colspan="4"><b>{{n["longName"]}}</b></th></tr>
            <tr><td><b>Linie</b></td><td><b>Endstation</b></td><td><b>Steig</b></td><td><b>Abfahrt</b></td></tr>
            {% for b in n["listOfDepartures"] %}
            <tr><td><div id="s{{b['lineLabel']}}"/><td>{{b['direction']}}</td><td>{{b['platform']|safe}}</td><td>{{b['time']}}</td></tr>
            {% endfor %}
        </table>
        {% endfor %}
        </div>
    </body>
</html>
